.background-animated-1 {
	background: linear-gradient(-45deg, #002379, #874CCC, #C65BCF, #FFEAE3);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.background-animated-2 {
	background: linear-gradient(-45deg, #1D2B53, #FF004D, #FF8F00, #FFBF00);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.background-animated-3 {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.background-animated-4 {
	background: linear-gradient(-45deg, #006769, #40A578, #9DDE8B, #E6FF94);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}