<!DOCTYPE html>
{% from "bootstrap5/form.html" import render_form %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body id="body" class="background-animated">

<!-- Header -->
<div class="px-2 py-2 border-bottom border-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <a href="/" class="d-flex my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img src="static/images/clipboard.png" height="50" width="50">
                <h1>ToDo</h1>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center text-small">
                <li>
                    <form method="POST" action="/" enctype="multipart/form-data">
                        <img src="static/images/bin.png" height="40" width="45" class="bi d-block mx-auto mb-1">
                        {{ delete_form.csrf_token }}
                        {{ delete_form.submit }}
                    </form>
                </li>
                <li>
                    <img src="static/images/wallpaper.png" height="40" width="45" class="bi d-block mx-auto mb-1">
                    <div class="dropdown">
                        <button class="nav-link text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Change Background
                        </button>
                        <ul class="dropdown-menu">
                            <li class="background-animated-1 my-3"><button id="button-1" style="height: 80px" class="dropdown-item"></button></li>
                            <li class="background-animated-2 my-3"><button id="button-2" style="height: 80px" class="dropdown-item"></button></li>
                            <li class="background-animated-3 my-3"><button id="button-3" style="height: 80px" class="dropdown-item"></button></li>
                            <li class="background-animated-4 my-3"><button id="button-4" style="height: 80px" class="dropdown-item"></button></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- List -->
<div class="list-group" style="margin-left: 10%; margin-right: 10%; margin-top: 50px;">
    <form class="list-group-item d-flex gap-2 bg-light py-4 px-5" method="POST" action="/" enctype="multipart/form-data">
        {{ add_form.csrf_token }}
        {{ add_form.name }}
        <input type="submit" value="Add New Task" class="btn btn-secondary" style="padding-left: 8%; padding-right: 8%;">
    </form>

    {% for index, row in tasks.iterrows(): %}
    <form class="list-group-item d-flex gap-2" method="POST">
        {% if row["complete"] == True %}
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked>
        {% else %}
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" name="check">
        {% endif %}
        <span>
            {{ row["name"] }}
        </span>
    </form>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="static/js/script.js"></script>
</body>
</html>